@mixin responsive($breakpoint) {
    @if $breakpoint == mobile {
      @media screen and (max-width: 500px) { @content; }
    } @else if $breakpoint == tablet {
      @media screen and (max-width: 900px) { @content; }
    }
  }
  
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .index-parent {
    @include flex-center;
    flex-flow: column;
    gap: 5rem;
    margin-top: 12rem;
    @include responsive(mobile) {
      gap: 2rem;
    }
  }
  
  .hero {
    @include flex-center;
    flex-flow: column;
    gap: 1rem;
    text-align: center;
    width: 100%;
    max-width: 85rem;
    padding: 0 2rem;
    z-index: 10;
    h1 { 
      font-size: clamp(4rem, 8vw, 7.1rem);
    }
    
    p { 
      color: $primaryText;
      font-size: clamp(2rem, 4vw, 3.2rem);
      span { color: $blue1; }
      b { 
        font-weight: 700;
        &:last-child { text-decoration: underline; }
      }
    }
  
    > div {
      @include flex-center;
      gap: 2rem;
      margin-top: 2rem;
      flex-wrap: wrap;
    }
  
    .prof {
      font-size: clamp(1.8rem, 3vw, 2.5rem);
      color: $blue1;
      span {
        font-weight: 800;
        color: $gray1;
      }
    }
  }
  
  @mixin section-common {
    @include flex-center;
    width: 100%;
  
    > div {
      width: 100%;
      max-width: 120rem;
      padding: clamp(2rem, 4vw, 4rem);
  
      h2 {
        text-align: start;
        font-size: clamp(3rem, 6vw, 4.8rem);
        color: white;
        margin-bottom: 2rem;
      }
  
      ul {
        li, p {
          line-height: 1.6;
          font-size: clamp(1.6rem, 3vw, 2.8rem);
          color: $primaryText;
        }
      }
    }
  }
  
  .missions {
    @include section-common;
    @include linear_gradient_bg;
    ul li { margin-left: 3rem; }
  }
  
  .enablers {
    z-index: 10;
    @include section-common;
    ul li { margin-left: 3rem; }
  }
  
  .news {
    @include flex-center;
    width: 100%;
  
    > div {
      width: 100%;
      max-width: 120rem;
      padding: clamp(2rem, 4vw, 4rem);
      border-radius: 2rem;
      display: flex;
      flex-flow: column;
      gap: 2rem;
    
      h2 {
        text-align: start;
        font-size: clamp(3rem, 6vw, 4.8rem);
        color: white;
        margin-bottom: 2rem;
      }
      z-index: 10;
  
      .carousal {
        height: auto;
        width: 100%;
        background: #211F2E;
        border-radius: 2rem;
        overflow: hidden;
  
        > div {
            
          p {
            @include flex-center;
            font-size: clamp(1.6rem, 3vw, 2.5rem);
            font-weight: 600;
            padding: 1rem;
            text-align: start;
            color: $primaryText;
          }
  
          img {
            width: 100%;
            height: auto;
            aspect-ratio: 16 / 9;
            object-fit: cover;
          }
        }
      }
  
      .carousal-btns {
        @include flex-center;
        gap: 2rem;
        cursor: pointer;
        background: $bg;
        transition: 200ms;
        transform: scale(1.5);
  
        > img:hover { background: $gray2; }
      }
    }
  }
  
  .contact {
    @include flex-center;
    width: 100%;
    margin-bottom: 2rem;
  
    > div {
      width: 100%;
      max-width: 120rem;
      padding: clamp(2rem, 4vw, 4rem);
  
      h2 {
        text-align: start;
        font-size: clamp(3rem, 6vw, 4.8rem);
        color: white;
        margin-bottom: 2rem;
      }
  
      p {
        margin-top: 1rem;
        font-size: clamp(1.4rem, 4vw, 3.2rem);
        color: $blue1;
  
        span {
          font-weight: 800;
          color: white;
        }
      }
    }
  }
  

  .bg-comets {
    position: absolute;
    bottom: -70%;
    z-index: -1;
    right: 10%;
    max-width: 100%;
    height: auto;
  }
  
  @include responsive(mobile) {
    .hero-imgs > img:nth-last-child(3) { display: none; }
  }
  
  @include responsive(tablet) {
    .hero-imgs > img:last-child { display: none; }
  }


 .hero-imgs > img {
    width: 25rem !important;
    border-radius: 1.5rem;
 }

  #stars-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .star {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.3;
    animation: twinkle 1s infinite;
  }
  
  @keyframes twinkle {
    0% { opacity: 0.2; }
    50% { opacity: 0.8; }
    100% { opacity: 0.3; }
  }