@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  background: #121216;
  overflow-x: hidden;
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  color: #C2C1DC;
  text-decoration: underline;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button {
  outline: none;
}

h1 {
  color: white;
}

a,
button,
img,
div {
  -webkit-tap-highlight-color: transparent;
}

.navbar {
  background-color: #130F0F;
  border-bottom: 1px solid #353148;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9rem;
  width: 100vw;
  font-size: 1.8rem;
  font-weight: 400;
  z-index: 100;
  position: fixed;
}
.navbar > div {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar > div > li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.navbar .menu-icon {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2.5rem;
  height: 2rem;
  cursor: pointer;
}
.navbar .menu-icon .line {
  width: 100%;
  height: 0.2rem;
  border-radius: 1rem;
  background-color: white;
  border-radius: 0.3rem;
  transition: all 0.1s ease-in-out;
}
.navbar .menu-icon:hover > * {
  background: #849FFF;
}
@media (max-width: 900px) {
  .navbar .menu-icon {
    display: flex;
    position: absolute;
    left: 2rem;
  }
  .navbar img {
    position: absolute;
    left: 7rem;
  }
  .navbar .navlinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10rem;
    padding: 2rem;
    background-color: #130F0F;
    left: 0;
    width: 100%;
  }
}

.menu-icon.active .line:nth-child(1) {
  transform: rotate(45deg) translate(0.5rem, 0.5rem);
}

.menu-icon.active .line:nth-child(2) {
  opacity: 0;
}

.menu-icon.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(0.5rem, -0.5rem);
}

.navlinks.active {
  display: flex;
}

.footer {
  background: #130F0F;
  color: #AAAAC9;
  font-size: 1.8rem;
  position: static;
  bottom: 0;
  width: 100vw;
  border-top: 1px solid #353148;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  padding: 3rem 2rem;
}

.index-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  gap: 5rem;
  margin-top: 12rem;
}
@media screen and (max-width: 500px) {
  .index-parent {
    gap: 0;
  }
  .index-parent .hero > h1 {
    font-size: 4rem !important;
  }
  .index-parent .hero > p {
    font-size: 2rem !important;
  }
  .index-parent > div > div {
    width: 90vw;
  }
  .index-parent > div > div > h2 {
    font-size: 3rem !important;
  }
  .index-parent .missions > div > ul li {
    line-height: 3.5rem !important;
    font-size: 2rem !important;
  }
  .index-parent .enablers > div > ul p,
  .index-parent .enablers > div li {
    line-height: 3.5rem !important;
    font-size: 2rem !important;
  }
  .index-parent .hero-imgs > img:nth-last-child(3) {
    display: none;
  }
  .index-parent .contact > div p {
    font-size: 2rem !important;
  }
  .index-parent .carousal div p {
    font-size: 2rem !important;
  }
}
@media screen and (max-width: 900px) {
  .index-parent .hero {
    width: 90vw;
  }
  .index-parent .hero > h1 {
    font-size: 6rem;
  }
  .index-parent .hero > p {
    font-size: 2.5rem;
  }
  .index-parent > div > div {
    width: 90vw;
  }
  .index-parent > div > div > h2 {
    font-size: 4rem;
  }
  .index-parent .missions > div > ul li {
    font-size: 2.5rem;
  }
  .index-parent .enablers > div > ul p,
  .index-parent .enablers > div li {
    font-size: 2.5rem;
  }
  .index-parent .hero-imgs > img:last-child {
    display: none;
  }
  .index-parent .contact > div p {
    font-size: 2.5rem;
  }
  .index-parent .carousal div p {
    font-size: 2rem !important;
  }
}

.hero {
  gap: 1rem;
  text-align: center;
  width: 85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.hero > h1 {
  font-size: 7.1rem;
}
.hero > p {
  color: #AAAAC9;
  font-size: 3.2rem;
}
.hero > p > span {
  color: #849FFF;
}
.hero > p > b {
  font-weight: 700;
}
.hero > p > b:last-child {
  text-decoration: underline;
}
.hero > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.hero > .prof {
  font-size: 2.5rem;
  color: #849FFF;
}
.hero > .prof > span {
  font-weight: 800;
  color: #C2C1DC;
}

.missions {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(120deg, rgba(132, 159, 255, 0.1490196078), rgba(35, 44, 66, 0.0588235294));
  width: 100%;
  z-index: 2;
  margin-top: 3rem;
}
.missions > div {
  width: 60%;
  flex-flow: column;
  padding: 4rem 6rem;
}
.missions > div > h2 {
  text-align: start;
  font-size: 4.8rem;
  color: white;
  margin-bottom: 2rem;
}
.missions > div > ul li {
  line-height: 5rem;
  font-size: 2.8rem;
  color: #AAAAC9;
}

.bg-ellipse {
  position: absolute;
  top: 110%;
  right: 0%;
}

.enablers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 2;
}
.enablers > div {
  width: 60%;
  flex-flow: column;
  padding: 4rem 6rem;
}
.enablers > div > h2 {
  text-align: start;
  font-size: 4.8rem;
  color: white;
  margin-bottom: 2rem;
}
.enablers > div > ul > p {
  line-height: 5rem;
  font-size: 2.8rem;
  color: #AAAAC9;
}
.enablers > div > ul li {
  line-height: 5rem;
  font-size: 2.8rem;
  color: #AAAAC9;
}

.news {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 10;
}
.news > div {
  width: 60%;
  padding: 4rem 6rem;
  border-radius: 2rem;
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
.news > div > h2 {
  text-align: start;
  font-size: 4.8rem;
  color: white;
  margin-bottom: 2rem;
}
.news > div .carousal {
  height: 45rem;
  width: 100%;
  background: #211F2E;
  border-radius: 2rem;
  overflow: hidden;
  justify-content: space-between;
  height: 100%;
  flex-flow: column;
}
.news > div .carousal > div > p {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 1rem 2.2rem;
  color: #AAAAC9;
}
.news > div .carousal > div > img {
  height: 36rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news > div .carousal-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  cursor: pointer;
  z-index: 9;
  background: #121216;
  transition: 200ms;
  transform: scale(1.5);
}
.news > div .carousal-btns > img:hover {
  background: #353148;
}

.contact {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}
.contact > div {
  width: 60%;
  padding: 4rem 6rem;
  width: 60%;
}
.contact > div > h2 {
  text-align: start;
  font-size: 4.8rem;
  color: white;
  margin-bottom: 2rem;
}
.contact > div > p {
  margin-top: 1rem;
  font-size: 3.2rem;
  color: #849FFF;
}
.contact > div > p > span {
  font-weight: 800;
  color: white;
}

.bg-comets {
  position: absolute;
  bottom: -175%;
  right: 10%;
}

.publication-main {
  margin-top: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  gap: 5rem;
  margin-top: 12rem;
  min-height: 80vh;
  margin-bottom: 5rem;
}
.publication-main > h1 {
  font-size: 5rem;
}
.publication-main > div {
  gap: 1rem;
  text-align: center;
  width: 85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.accordion {
  width: 85rem;
  background: #1A1A24;
  border: 1px solid #2d2f47;
  border-radius: 1.5rem;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  transition: 0.4s;
}

.accordion:hover {
  background-color: #3c3c4e;
}

.accordion:after {
  content: "↑";
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "↓";
  color: white;
}

.panel {
  width: 100%;
  font-size: 2rem;
  border: 1px solid #464A73;
  border-top: none;
  border-radius: 0 0 1.5rem 1.5rem;
  background-color: #1A1A24;
  transform: translate(0, -20px);
  display: none;
  overflow: hidden;
  padding: 2rem;
  flex-flow: column;
  gap: 1.2rem;
}
.panel .links {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  gap: 1rem;
}
.panel .links > a {
  color: #3EAEFF;
}
.panel .pdf {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}
.panel .pdf div {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.panel .pdf div > p {
  color: white;
}
.panel .pdf > button {
  background: transparent;
  border: 1px solid #7CA9FF;
  outline: none;
  font-size: 1.8rem;
  color: #7CA9FF;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 0.7rem;
}/*# sourceMappingURL=main.css.map */